@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@font-face {
    font-family: "SFmono";
    src: url('http://fonts.cdnfonts.com/css/sf-mono');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --color-bg:	#1f1f38; */
  --color-bg-variant: #2c2c6c;
  
  /* --color-bg-variant:	#1f1f38; */
  --color-bg:	#2c2c6c;
  
  /* --color-bg-variant: #30305b; */
  --color-primary: #4db5ff;

  --Light-Slate: #a8b2d1;

  --Lightest-Slate: #ccd6f6;

  --White	: #e6f1ff;

  --Green	: #64ffda;

  --color-primary-variant: rgba(77, 181, 255, 0.4);

  --color-white: #fff;

  --color-light: rgba(255, 255, 255, 0.6);

  --color-light-gray: #dbdbdb;



  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1,7;
  background-image: url('./assests/bg-pics/bgTexturn2.png');
  /* background-image: url('./assests/bg-pics/bg-texture.png'); */
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}


/* ==================== MEDIA QUERIES (MEDIUM DEVICES) ==================== */

@media screen and (max-width: 1024px) {
  .container {
      width: var(--container-width-md);
  }
}

/* ==================== MEDIA QUERIES (SMALL DEVICES) ==================== */

@media screen and (max-width: 600px) {
  .container {
      width: var(--container-width-ms);
  }
}
